/* styles.css */
/* Archivo de estilos CSS */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F0F8FF;
    color: #154360;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.banner {
    background-color: #85C1E9;
    height: 70px;
    width: 100%;
}

.container {
    display: none;
    text-align: center;
    padding: 30px;
    background-color: #EBF5FB;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 80%;
    margin: 20px auto;
}

.active {
    display: block;
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: #5499C7;
    border: none;
    padding: 15px 30px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980B9;
}

label, input, select {
    display: block;
    width: 100%;
    margin: 15px 0;
}

input, select {
    padding: 12px;
    border: 1px solid #AED6F1;
    border-radius: 5px;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    display: none;
    z-index: 10;
    font-size: 14px;
}
