/* Global Style */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #154360;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Banner */
.banner {
    background-color: #85C1E9;
    height: 70px;
    width: 100%;
}

/* Containers */
.container {
    display: none;
    text-align: center;
    padding: 30px;
    background-color: #EBF5FB;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 80%;
    margin: 20px auto;
}

.active {
    display: block;
}

/* Navigation Buttons */
.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    background-color: #3498DB;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2980B9;
}

button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

/* Input Fields */
input, select {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input.error, select.error {
    border-color: #E74C3C;
}

/* Error Message */
.error-message {
    color: #E74C3C;
    font-size: 14px;
    margin-top: -10px;
}

/* Table Selection */
.table-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.table {
    width: 50px;
    height: 50px;
    background-color: #5DADE2;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.table:hover {
    background-color: #3498DB;
}

.table.completa {
    background-color: #dc3545;
}

#tooltip {
    position: absolute;
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: none;
}

/* Guest List */
#guestList {
    margin-top: 20px;
    text-align: left;
    width: 100%;
    background-color: #EBF5FB;
    padding: 10px;
    border-radius: 5px;
}

/* Seats */
.seat {
    width: 30px;
    height: 30px;
    background-color: #5DADE2;
    border-radius: 50%;
    margin: 5px;
    display: inline-block;
}

.seat.occupied {
    background-color: #E74C3C;
}
